.c-black{
	background-color: #000 !important;
}

.inl{
	display: inline-flex !important;
	height: 51px !important;
}

.cart-quant-input{
	padding: 2px !important;
	border: none !important;
	border-bottom: 2px solid black !important;
	width: 100% !important;
}